#!/bin/sh
# follow redirects as we might not listen to localhost
curl -f -k -L --silent "https://localhost/{{ ssp_ctx_pfx }}/module.php/cron/run/daily/{{ cron_key }}" || {
    echo "$0: curl failed with $?"; exit 1;
}

# Create separate eduteams metadata from here:
edugaindir={{ ssp_metadata_generateddir }}/edugain
input=${edugaindir}/saml20-idp-remote.php
output=${edugaindir}/eduteams.php

tmpfile=$(mktemp ${output}XXXXXX) && \
    chown apache.apache $tmpfile && \
    chmod a+r $tmpfile && \
    echo '<?php' > $tmpfile || { echo "Cannot make edugain tmpfile"; exit 1; }

# Get eduTEAMS metadata from eduGAIN, disable hide.from.discovery and add
# er_infras tag.
sed -n '/^\$metadata\[.https:\/\/proxy.eduteams.org\/proxy.\] = array ($/,${p;/^);$/q};' \
     $input |\
     sed -e "s/\('hide\.from\.discovery' => \)\([a-z]\+\)\(,.*\)$/\1false\3/" \
         -e "s/^\( \+\)\( 0 => 'edugain',\)$/\1\2\n\1 10 => 'er_infras',/" \
     >> $tmpfile

mv -f $tmpfile $output
