      <div id="footer">
        <div class="wrap rcauth-branding"><hr/>
        <p>{{ 'The RCauth WAYF is part of the RCauth CA service. For support, please contact the help desk of your own home organisations or community.'|trans }}</p>
        </div>
      </div>
