Description: main config changes
 Based on config-templates/config.php this sets all the local configuration.
Author: Mischa Sallé <msalle@nikhef.nl>
Author: Tamas Balogh <tamasb@nikhef.nl>
--- a/config/config.php	2019-11-19 15:02:43.000000000 +0100
+++ b/config/config.php	2019-11-21 22:06:55.379488970 +0100
@@ -27,7 +27,7 @@
      * external url, no matter where you come from (direct access or via the
      * reverse proxy).
      */
-    'baseurlpath' => 'simplesaml/',
+    'baseurlpath' => '{{ ssp_ctx_pfx }}/',
 
     /*
      * The 'application' configuration array groups a set configuration options
@@ -62,9 +62,10 @@
      * When specified as a relative path, this is relative to the SimpleSAMLphp
      * root directory.
      */
-    'certdir' => 'cert/',
-    'loggingdir' => 'log/',
-    'datadir' => 'data/',
+    'certdir' => '{{ ssp_pkidir }}',
+    'loggingdir' => '{{ ssp_logdir }}',
+    'datadir' => '{{ ssp_datadir }}',
+    'metadatadir' => '{{ ssp_metadatadir }}',
     'tempdir' => '/tmp/simplesaml',
 
     /*
@@ -72,8 +73,8 @@
      * The email address will be used as the recipient address for error reports, and
      * also as the technical contact in generated metadata.
      */
-    'technicalcontact_name' => 'Administrator',
-    'technicalcontact_email' => 'na@example.org',
+    'technicalcontact_name' => '{{ tech_name }}',
+    'technicalcontact_email' => '{{ tech_email }}',
 
     /*
      * (Optional) The method by which email is delivered.  Defaults to mail which utilizes the
@@ -114,7 +115,7 @@
      *
      * See this page for a list of valid timezones: http://php.net/manual/en/timezones.php
      */
-    'timezone' => null,
+    'timezone' => {{ timezone }},
 
 
 
@@ -130,7 +131,7 @@
      * A possible way to generate a random salt is by running the following command from a unix shell:
      * LC_CTYPE=C tr -c -d '0123456789abcdefghijklmnopqrstuvwxyz' </dev/urandom | dd bs=32 count=1 2>/dev/null;echo
      */
-    'secretsalt' => 'defaultsecretsalt',
+    'secretsalt' => '{{ secret_salt }}',
 
     /*
      * This password must be kept secret, and modified from the default value 123.
@@ -138,7 +139,7 @@
      * metadata listing and diagnostics pages.
      * You can also put a hash here; run "bin/pwgen.php" to generate one.
      */
-    'auth.adminpassword' => '123',
+    'auth.adminpassword' => '{{ admin_pass }}',
 
     /*
      * Set this options to true if you want to require administrator password to access the web interface
@@ -261,7 +262,7 @@
      * When 'errorreporting' is enabled, a form will be presented for the user to report
      * the error to 'technicalcontact_email'.
      */
-    'showerrors' => true,
+    'showerrors' => {{ phpdebug }},
     'errorreporting' => true,
 
     /*
@@ -291,8 +292,8 @@
      * Options: [syslog,file,errorlog,stderr]
      *
      */
-    'logging.level' => SimpleSAML\Logger::NOTICE,
-    'logging.handler' => 'syslog',
+    'logging.level' => SimpleSAML\Logger::{{ ssp_loglevel }},
+    'logging.handler' => '{{ ssp_loghandler }}',
 
     /*
      * Specify the format of the logs. Its use varies depending on the log handler used (for instance, you cannot
@@ -320,7 +321,7 @@
      * - %msg: the message to be logged.
      *
      */
{% raw %}-    //'logging.format' => '%date{%b %d %H:%M:%S} %process %level %stat[%trackid] %msg',
+    'logging.format' => '%date{%b %d %H:%M:%S} %process %level %stat[%trackid] [%srcip] %msg',
{% endraw %}
 
     /*
      * Choose which facility should be used when logging with syslog.
@@ -350,13 +351,12 @@
      * This is an array of outputs. Each output has at least a 'class' option, which
      * selects the output.
      */
-    'statistics.out' => [// Log statistics to the normal log.
-        /*
+    'statistics.out' => [
+        // Log statistics to the normal log.
         [
             'class' => 'core:Log',
             'level' => 'notice',
         ],
-        */
         // Log statistics to files in a directory. One file per day.
         /*
         [
@@ -460,7 +460,7 @@
      * one of the functionalities below, but in some cases you could run multiple functionalities.
      * In example when you are setting up a federation bridge.
      */
-    'enable.saml20-idp' => false,
+    'enable.saml20-idp' => true,
     'enable.shib13-idp' => false,
     'enable.adfs-idp' => false,
 
@@ -559,7 +559,7 @@
      * through https. If the user can access the service through
      * both http and https, this must be set to FALSE.
      */
-    'session.cookie.secure' => false,
+    'session.cookie.secure' => true,
 
     /*
      * Set the SameSite attribute in the cookie.
@@ -571,7 +571,7 @@
      * Example:
      *  'session.cookie.samesite' => 'None',
      */
-    'session.cookie.samesite' => null,
+    'session.cookie.samesite' => 'None',
 
     /*
      * Options to override the default settings for php sessions.
@@ -775,9 +775,7 @@
      * Languages available, RTL languages, and what language is the default.
      */
     'language.available' => [
-        'en', 'no', 'nn', 'se', 'da', 'de', 'sv', 'fi', 'es', 'ca', 'fr', 'it', 'nl', 'lb',
-        'cs', 'sl', 'lt', 'hr', 'hu', 'pl', 'pt', 'pt-br', 'tr', 'ja', 'zh', 'zh-tw', 'ru',
-        'et', 'he', 'id', 'sr', 'lv', 'ro', 'eu', 'el', 'af', 'zu', 'xh',
+        'en', 'nl'
     ],
     'language.rtl' => ['ar', 'dv', 'fa', 'ur', 'he'],
     'language.default' => 'en',
@@ -794,10 +792,10 @@
     'language.cookie.name' => 'language',
     'language.cookie.domain' => null,
     'language.cookie.path' => '/',
-    'language.cookie.secure' => false,
+    'language.cookie.secure' => true,
     'language.cookie.httponly' => false,
     'language.cookie.lifetime' => (60 * 60 * 24 * 900),
-    'language.cookie.samesite' => null,
+    'language.cookie.samesite' => 'None',
 
     /**
      * Custom getLanguage function called from SimpleSAML\Locale\Language::getLanguage().
@@ -846,7 +844,8 @@
     /*
      * Which theme directory should be used?
      */
-    'theme.use' => 'default',
+    'theme.use' => 'rcauth:niktheme',
+    'theme.base' => 'default',
 
     /*
      * Set this option to the text you would like to appear at the header of each page. Set to false if you don't want
@@ -918,6 +917,12 @@
         ],
     ],
 
+    /*
+     * User interface model: TWIG because old one doesn't seem to work nicely
+     * any longer with 1.18
+     */
+    'usenewui' => true,
+    'language.i18n.backend' => 'gettext/gettext',
 
     /*********************
      | DISCOVERY SERVICE |
@@ -1021,6 +1026,23 @@
         ],
         */
 
+        50 => [
+            'class' => 'saml:FilterScopes',
+            // Default attributes with scope attributes.
+            // Defaults are eduPersonPrincipalName and eduPersonScopedAffiliation
+            'attributes' => array(
+                    'urn:oid:1.3.6.1.4.1.5923.1.1.1.6',     // eduPersonPrincipalName
+                    'urn:oid:1.3.6.1.4.1.5923.1.1.1.13',    // eduPersonUniqueId
+                    'urn:oid:1.3.6.1.4.1.5923.1.1.1.9',     // eduPersonScopedAffiliation
+                    'urn:oasis:names:tc:SAML:attribute:subject-id',
+                    'urn:oasis:names:tc:SAML:attribute:pairwise-id',
+                    'eduPersonPrincipalName',
+                    'eduPersonUniqueId',
+                    'eduPersonScopedAffiliation',
+                    'subject-id',
+                    'pairwise-id'),
+        ],
+
         /*
          * Generate the 'group' attribute populated from other variables, including eduPersonAffiliation.
         60 => [
@@ -1142,7 +1164,7 @@
      * Metadata signing can also be enabled for a individual SP or IdP by setting the
      * same option in the metadata for the SP or IdP.
      */
-    'metadata.sign.enable' => false,
+    'metadata.sign.enable' => true,
 
     /*
      * The default key & certificate which should be used to sign generated metadata. These
@@ -1157,7 +1179,7 @@
     'metadata.sign.privatekey' => null,
     'metadata.sign.privatekey_pass' => null,
     'metadata.sign.certificate' => null,
-    'metadata.sign.algorithm' => null,
+#    'metadata.sign.algorithm' => null,
 
 
     /****************************
