Description: Set our own IdP metadata
Author: Mischa Sallé <msalle@nikhef.nl>
--- a/metadata/saml20-idp-hosted.php	2019-11-19 15:05:50.000000000 +0100
+++ b/metadata/saml20-idp-hosted.php	2019-11-21 21:54:07.640186933 +0100
@@ -6,47 +6,90 @@
  * See: https://simplesamlphp.org/docs/stable/simplesamlphp-reference-idp-hosted
  */
 
+/* Include our hostname, this sets $ssp_hostname */
+include( (new \SimpleSAML\Utils\Config)->getConfigDir() . "/config_hostname.php");
+
-$metadata['urn:x-simplesamlphp:example-idp'] = [
+$metadata["https://$ssp_hostname/{{ ssp_ctx_pfx }}/saml2/idp/metadata.php"] = [
     /*
      * The hostname of the server (VHOST) that will use this SAML entity.
      *
      * Can be '__DEFAULT__', to use this entry by default.
      */
-    'host' => '__DEFAULT__',
+    'host' => "$ssp_hostname",
 
     // X.509 key and certificate. Relative to the cert directory.
-    'privatekey' => 'server.pem',
-    'certificate' => 'server.crt',
+    'privatekey' => '{{ ssp_key }}',
+    'certificate' => '{{ ssp_cert }}',
+    'signature.algorithm' => 'http://www.w3.org/2001/04/xmldsig-more#rsa-sha256',
+    
+    /*
+     * Note: OrganizationURL and OrganizationDisplayName require
+     * OrganizationName to be set, see docs
+     */
+    'OrganizationName' => [
+        'en' => '{{ meta_org_name }}'
+    ],
+    'OrganizationDisplayName' => [
+        'en' => '{{ meta_org_displayname }}',
+    ],
+    'OrganizationURL' => '{{ meta_org_url }}',
 
     /*
      * Authentication source to use. Must be one that is configured in
      * 'config/authsources.php'.
      */
-    'auth' => 'example-userpass',
+    'auth' => 'default-sp',
 
     /* Uncomment the following to use the uri NameFormat on attributes. */
-    /*
     'attributes.NameFormat' => 'urn:oasis:names:tc:SAML:2.0:attrname-format:uri',
+
     'authproc' => [
-        // Convert LDAP names to oids.
-        100 => ['class' => 'core:AttributeMap', 'name2oid'],
+       60 => [
+        'class' => 'rcauth:AttributeNameIDRCauth',
+        'attribute' => 'urn:oid:1.3.6.1.4.1.5923.1.1.1.10',
+        'Format' => 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent',
+       ],
     ],
-    */
+
+    /* Make sure to set the attribute encoding for the ePTID to raw as we are
+     * passing on the incoming ePTID which might be XML formatted */
+    'attributeencodings' => array(
+        'urn:oid:1.3.6.1.4.1.5923.1.1.1.10' => 'raw',
+    ),
 
     /*
-     * Uncomment the following to specify the registration information in the
-     * exported metadata. Refer to:
-     * http://docs.oasis-open.org/security/saml/Post2.0/saml-metadata-rpi/v1.0/cs01/saml-metadata-rpi-v1.0-cs01.html
-     * for more information.
+     * Attribute Extensions
      */
+    'EntityAttributes' => [
+        'urn:oasis:names:tc:SAML:attribute:assurance-certification' => ['https://refeds.org/sirtfi'],
+    ],
+
     /*
-    'RegistrationInfo' => [
-        'authority' => 'urn:mace:example.org',
-        'instant' => '2008-01-17T11:28:03Z',
-        'policies' => [
-            'en' => 'http://example.org/policy',
-            'es' => 'http://example.org/politica',
+     * MetaData contact addresses 
+     */
+    'contacts' => [
+        [
+            'contactType'     => 'administrative',
+            'givenName'       => '{{ meta_admin_name }}',
+            'surName'         => '{{ meta_admin_company }}',
+            'emailAddress'    => '{{ meta_admin_email }}',
+        ],
+        [
+            'contactType'     => 'support',
+            'givenName'       => '{{ meta_support_name }}',
+            'company'         => '{{ meta_support_company }}',
+            'emailAddress'    => '{{ meta_support_email }}',
         ],
+        [
+            'contactType'     => 'other',
+            'givenName'       => '{{ meta_security_name }}',
+            'company'         => '{{ meta_security_company }}',
+            'emailAddress'    => '{{ meta_security_email }}',
+            'telephoneNumber' => '{{ meta_security_phone }}',
+            'attributes'      => [
+                'xmlns:remd'       => 'http://refeds.org/metadata',
+                'remd:contactType' => 'http://refeds.org/metadata/contactType/security',
+            ],
+        ]
     ],
-    */
 ];
