LoadModule ssl_module modules/mod_ssl.so
Listen 443

# just publish Apache as server
ServerTokens Prod

SSLPassPhraseDialog  builtin
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300

SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

Define  root /{{ ssp_ctx_pfx }}
Define  servername {{ inventory_hostname }}


<VirtualHost *:80>
    ServerName ${servername}:443 

    Redirect / https://${servername}/

    Alias   ${root}     {{ ssp_dir }}/www
</VirtualHost>

<VirtualHost _default_:443>
    ErrorLog            logs/ssl_error_log
    TransferLog         logs/ssl_access_log
    LogLevel            debug
    ServerName          ${servername}:443
    UseCanonicalName    on
{% if server_aliases is defined %}
{% for server_alias in server_aliases %}
    ServerAlias {{ server_alias }}
{% endfor %}
{% endif %}

    <IfModule mod_expires.c>
        ExpiresActive On
        ExpiresDefault now
    </IfModule>


    # see https://securityheaders.com/ (retrieved 2018-09-05)
    # Enable HSTS (was 182 days, see below, now set to 30 days)
    Header always set Strict-Transport-Security "max-age=2592000"
    # Prevent iFrames
    Header always set X-Frame-Options "SAMEORIGIN"
    # Prevent XSS attacks: configure the built in reflective XSS protection found
    # in Internet Explorer, Chrome and Safari (Webkit).
    Header always set X-Xss-Protection "1; mode=block"
    # prevents Google Chrome and Internet Explorer from trying to mime-sniff the
    # content-type of a response away from the one being declared by the server.
    Header always set X-Content-Type-Options "nosniff"
    # Still in draft. Instructs the browser to never send the referer header with
    # requests that are made from your site.
    Header always set Referrer-Policy no-referrer
    # Only allow content from ourselves
    Header always set Content-Security-Policy "default-src 'self'; font-src 'self'; style-src 'self' 'unsafe-inline'; frame-ancestors 'self'; script-src 'self' 'unsafe-inline'"


    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3 +TLSv1
    SSLHonorCipherOrder On
    SSLCipherSuite "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH EDH+aRSA !aNULL !eNULL !MEDIUM !LOW !3DES !MD5 !EXP !PSK !SRP !DSS"

    SSLCertificateFile {{ hostcert }}
    SSLCertificateKeyFile {{ hostkey }}
{% if hostcert_intermediate is defined %}
    # Note: from Apache 2.4.8 SSLCertificateChainFile is obsolete. Probably can
    # better use SSLCACertificatePath in that case or put the whole chain in
    # SSLCertificateFile
    SSLCertificateChainFile {{ hostcert_intermediate }}
{% endif %}


    SetEnvIf User-Agent ".*MSIE.*" \
             nokeepalive ssl-unclean-shutdown \
             downgrade-1.0 force-response-1.0
    CustomLog logs/ssl_request_log \
              "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

    <Directory "{{ ssp_dir }}/www/">
        AllowOverride AuthConfig
        Require all granted
    </Directory>

    Alias   ${root}     {{ ssp_dir }}/www

    # Adding redirect to actual wayf "home"
    Redirect permanent /index.html ${root}/
    Redirect 301 /index.html ${root}/

</VirtualHost>

